.ant-table{
    background-color: #4C5157 !important;
}
.ant-table-thead > tr > th{
    border-bottom: 1px solid #171717 !important;
    color: #8B8E90 !important;
}
.ant-table-content, .ant-table-thead > tr > th{
    background-color: #2B3137 !important;
    color: #FFFF;
}
.ant-table-row .ant-table-row-level-0 ::selection{
    color: #4C5157 !important;
    background-color: #4C5157 !important;
}

.ant-table-thead{
    color: #8B8E90 !important;
}

.ant-pagination-item, .ant-pagination-item a, .ant-pagination-item-link{
   background-color: #2B3137 !important;
   color: #FFFF !important;
}
.ant-pagination-item-active, .ant-pagination-item-active:hover{
    border-color: #4C5157 !important;
}
.ant-table-tbody > tr > td{
    border-bottom: 1px solid #171717 !important;
}

.ant-table .ant-table-tbody > tr:hover > td {
    background: #4C5157 !important;
}
