.repoItemContainer{
    background-color: #24292E;
    color: #FFFF;
    text-align: center;
    font-family: Roboto,sans-serif;
}

.repoItemText{
    color: #FFFF;
    text-align: left;
    font-size: 20px;
    font-family: Roboto,sans-serif;
}